<div class="container">
    <header class="header">
        <a href="#" class="logo-text">Sistema de animais qualquer</a>
        
        <button style="display: none;" class="header__btnMenu"><i class="fas fa-bars fa-2x"></i><span class="sr-only">Menu</span></button>
        
        <nav class="header__nav">
          <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">consultar</a></li>
            <li><a href="#">cadastrar</a></li>
            <li><a href="#">deletar</a></li>
          </ul>
        </nav>
    </header>
</div>


<router-outlet></router-outlet>